<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset='utf-8' >
    <meta http-equiv='X-UA-Compatible' content='IE=10' />
    <meta name='author' content='Belem'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=0.2, maximum-scale=3.0, user-scalable=yes' name='viewport' />
    <link rel='stylesheet' href='{{ static_url('style.css') }}' />
  </head>
  <body>
    <header>{% block header %}{{ title }}{% end %}</header>
    <div id='wrapper'>
    {% block body %} body {% end %}

    <div>本服务谢绝收集您的隐私信息, 没空,正观看《乡村爱情故事8》中.</div>
    <div>本服务关键代码 fork 自: <a href="https://github.com/0x5e/wechat-deleted-friends">0x5e/wechat-deleted-friends</a></div>
    </div>
    <footer>
        {% block footer %}&copy;2016 Belem{% end %}
    </footer>

  </body>
</html>